
.whatwedo-section {
    width: 1200px;
    height: 490px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;

    &__tittle {
        padding-bottom: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.image-list {

    &__picture {
        display: inline-block;
        margin-right: 41px;

        &:last-child {
            margin-right: -2px;
        }
    }

    &__label {
    position: relative;
    width: 370px;
    height: 70px;
    top: -88px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    background-color: $card-label-color;
    }
}